In [82]:
import pandas as pd

In [83]:
#Loading datasets

df_beauty=pd.read_json('data/ref/All_Beauty_5.json', lines=True)
df_appliances=pd.read_json('data/ref/Appliances_5.json', lines=True)
meta_data=pd.read_json('data/ref/meta_data.json', lines=True)

Compared to the discovery phase, let's try to go further into the anlysis of the data, but let's aim at no modifying the data for now. The goal here is to list the actions that will need to be performed to clean the data and to identify the good features candidates

# Meta Data Analysis

In [84]:
meta_data[['asin','description','title','date','brand']].describe(include='all')
#The other columns are causing issues because they contain list

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

,asin,description,title,date,brand
count,18772,5130,18771,18588,18295
unique,18521,4437,18417,3042,5785
top,B00004Y74O,[],onepix Hard Case for MacBook,2016-06-16 00:00:00,HP
freq,2,122,7,404,212
first,NaN,NaN,NaN,1973-09-04 00:00:00,NaN
last,NaN,NaN,NaN,2019-01-08 00:00:00,NaN

Let's check if the duplicates are true duplicates i.e same ID, description and title

In [85]:
duplicates=meta_data[['asin','description','title']]
duplicates.head()

,asin,description,title
0,0321732960,[Brand new. Still in factory-sealed plastic.],Kelby Training DVD: The Adobe Photoshop CS5 7-...
1,0321735722,[If you're already a Photoshop user and want a...,Kelby Training DVD: Adobe Photoshop CS5 Power ...
2,0439651859,[School To Home Notes: Note From the Teacher!\...,TEACHERS FRIEND NOTE FROM THE TEACHER SCHOOL T...
3,0545729971,[Dooqi is a young brand specializing in high-e...,"[3-pack]Ipad Mini Screen Protector, Dooqi Scre..."
4,0594450284,[Cover for Nook HD],Hd+ Cheetah Cover- Nook

In [86]:
cnt=duplicates[['asin','description']].groupby('asin').count()
cnt.head()

            description
asin
0321732960            1
0321735722            1
0439651859            1
0545729971            1
0594450284            1

In [87]:
cnt.columns

Index(['description'], dtype='object')

In [88]:
cnt=cnt.rename(columns={'description':'cnt'})
cnt[cnt['cnt']>1].head()

            cnt
asin
B00001MXZ7    2
B00003Q09I    2
B00004SYNG    2
B00004SYNK    2
B00004TEBU    2

In [89]:
#cnt=cnt.reset_index()
#cnt=cnt.drop('level_0', axis=1)
cnt.head()

            cnt
asin
0321732960    1
0321735722    1
0439651859    1
0545729971    1
0594450284    1

In [90]:
print('cnt dtypes:', cnt.dtypes)
print('----------------')
print('duplicates dtypes:',duplicates.dtypes)

cnt dtypes: cnt    int64
dtype: object
----------------
duplicates dtypes: asin           object
description    object
title          object
dtype: object

In [91]:
duplicates=duplicates.merge(cnt, on='asin',how='left')
duplicates.head()

,asin,description,title,cnt
0,0321732960,[Brand new. Still in factory-sealed plastic.],Kelby Training DVD: The Adobe Photoshop CS5 7-...,1
1,0321735722,[If you're already a Photoshop user and want a...,Kelby Training DVD: Adobe Photoshop CS5 Power ...,1
2,0439651859,[School To Home Notes: Note From the Teacher!\...,TEACHERS FRIEND NOTE FROM THE TEACHER SCHOOL T...,1
3,0545729971,[Dooqi is a young brand specializing in high-e...,"[3-pack]Ipad Mini Screen Protector, Dooqi Scre...",1
4,0594450284,[Cover for Nook HD],Hd+ Cheetah Cover- Nook,1

In [92]:
duplicates=duplicates[duplicates['cnt']>1]
duplicates.head(10)

,asin,description,title,cnt
38,B00001MXZ7,[The EO2010 21-inch (20.1-inch viewable) displ...,"Princeton Eo2010 21"" Monitor (Pc/Mac)",2
39,B00003Q09I,[The ViewSonic GS790 Short Neck 19-inch monito...,"Viewsonic Gs790 19"" Short Neck Monitor (Pc/Mac)",2
40,B00004SYNG,[NEC's AccuSync line of monitors is the compan...,"NEC AccuSync 50 15"" Monitor (PC/Mac)",2
41,B00004SYNK,[If you're looking to move on from a teeny-tin...,"NEC AccuSync 90 19"" Monitor (PC/Mac)",2
42,B00004TEBU,[The Viking IntelliFlash USB flash memory read...,Test Big Data 9658,2
43,B00004TS2P,[The ViewSonic E-790 19-inch monitor provides ...,"ViewSonic E790 19"" Monitor",2
44,B00004TS2Q,[The ViewSonic E-790B 19-inch monitor provides...,"ViewSonic E-790B 19"" Monitor",2
45,B00004TS2O,[The Optiquest Q-95 19-inch CRT monitor with P...,"Optiquest Q-95 19"" Monitor",2
47,B00004Y74O,[The NEC MultiSync FE950 monitor features NEC'...,"NEC MultiSync FE950 Totally Flat 19"" Monitor (...",2
48,B00004Y74J,[The NEC MultiSync FE700M flat monitor allows ...,"NEC MultiSync FE700M Totally Flat 17"" Multimed...",2

In [93]:
#duplicates.reset_index(inplace=True)
duplicates.drop('cnt',axis=1,inplace=True)
#duplicates.drop(['index','level_0'],axis=1,inplace=True)
duplicates=duplicates[['asin','title','description']]
duplicates.head(10)

,asin,title,description
38,B00001MXZ7,"Princeton Eo2010 21"" Monitor (Pc/Mac)",[The EO2010 21-inch (20.1-inch viewable) displ...
39,B00003Q09I,"Viewsonic Gs790 19"" Short Neck Monitor (Pc/Mac)",[The ViewSonic GS790 Short Neck 19-inch monito...
40,B00004SYNG,"NEC AccuSync 50 15"" Monitor (PC/Mac)",[NEC's AccuSync line of monitors is the compan...
41,B00004SYNK,"NEC AccuSync 90 19"" Monitor (PC/Mac)",[If you're looking to move on from a teeny-tin...
42,B00004TEBU,Test Big Data 9658,[The Viking IntelliFlash USB flash memory read...
43,B00004TS2P,"ViewSonic E790 19"" Monitor",[The ViewSonic E-790 19-inch monitor provides ...
44,B00004TS2Q,"ViewSonic E-790B 19"" Monitor",[The ViewSonic E-790B 19-inch monitor provides...
45,B00004TS2O,"Optiquest Q-95 19"" Monitor",[The Optiquest Q-95 19-inch CRT monitor with P...
47,B00004Y74O,"NEC MultiSync FE950 Totally Flat 19"" Monitor (...",[The NEC MultiSync FE950 monitor features NEC'...
48,B00004Y74J,"NEC MultiSync FE700M Totally Flat 17"" Multimed...",[The NEC MultiSync FE700M flat monitor allows ...

In [98]:
#duplicates['identifier']=duplicates['asin'].str.cat(duplicates['title'])
#duplicates.drop(['asin','title'], axis=1, inplace=True)
true_duplicates=duplicates.groupby(['identifier']).count()

In [101]:
true_duplicates.columns

Index(['description'], dtype='object')

In [105]:
#true_duplicates.rename(columns={'description':'cnt'}, inplace=True)
#true_duplicates=true_duplicates[true_duplicates['cnt']>1]
#true_duplicates.reset_index(inplace=True)
true_duplicates.head()

                                          identifier  cnt
0    B00001MXZ7Princeton Eo2010 21" Monitor (Pc/Mac)    2
1  B00003Q09IViewsonic Gs790 19" Short Neck Monit...    2
2     B00004SYNGNEC AccuSync 50 15" Monitor (PC/Mac)    2
3     B00004SYNKNEC AccuSync 90 19" Monitor (PC/Mac)    2
4                       B00004TEBUTest Big Data 9658    2

In [106]:
print('duplicates:', duplicates.shape)
print('-----------------------')
print('true duplicates:', true_duplicates.shape)

duplicates: (398, 2)
-----------------------
true duplicates: (199, 2)

It looks strange that the true duplicates are exactly half of the duplicates