<center> <h1> Test Notebook </h1> </center>

This notebook is used to perform some testings on functions or techniques before using them in one of the main notebook of the project.

In [3]:
import pandas as pd

# Test Case 1 : Removing the brackets in the description

In [1]:
description = ['This is a description']

In [2]:
description=description[0]
description

'This is a description'

# Test Case 2 : Ensuring that the duplicates are count appropriately

In [5]:
fake_duplicates=pd.read_excel('data/fake_duplicates.xlsx')
fake_duplicates

  ID   X   Y
0  A  X1  Y1
1  A  X2  Y2
2  A  X3  Y3
3  B  X1  Y1
4  B  X1  Y1
5  C  X1  Y1
6  C  X2  Y2
7  D  X1  Y1

In [7]:
fake_duplicates.groupby('ID').count()

    X  Y
ID
A   3  3
B   2  2
C   2  2
D   1  1

In [8]:
fake_duplicates['Identifier']=fake_duplicates['ID'].str.cat(fake_duplicates['Y'])

In [9]:
fake_duplicates.groupby('Identifier').count()

            ID  X  Y
Identifier
AY1          1  1  1
AY2          1  1  1
AY3          1  1  1
BY1          2  2  2
CY1          1  1  1
CY2          1  1  1
DY1          1  1  1